/* splash page */

.splash {
  min-height: 100vh;
  background: $black url(../img/splash-bg.jpg) top center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40.625rem; /* 650/16 */
    background-color: $purple-10;
    border-radius: 1rem;
    padding: 6rem 3rem 3rem;
    margin-top: 3rem;

    &.bg-primary {
      max-width: 33.75rem; /* 540/16 */

      .h1 {
        color: white;
      }
    }

    .h1 {
      font-size: 1.625rem; /* 26/16 */
      line-height: 1.2rem;
      font-weight: normal;
      font-style: italic;
    }

    &::before {
      content: '';
      position: absolute;
      top: -3rem;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 88px;
      height: 103px;
      background: transparent url(../img/OA_app-icon.svg) center / contain no-repeat;
    }
  }
}

@media screen and (max-width: $sm-max) {
  .splash {
    .wrapper {
      padding: 5rem 0.875rem 1.5rem;
    }
  }
}


/* registrazione / login */

.link-privacy {
 color: inherit;
 text-decoration: none;
 background: transparent url(../img/icons/OA_icon-eye.svg) center left / 1.2rem no-repeat;

 &:hover,
 &:active,
 &:focus {
  color: inherit;
  text-decoration: underline;
 }
}

.link-phone {
 color: inherit;
 text-decoration: none;
 background: transparent url(../img/icons/OA_icon-phone.svg) center left / 1.2rem no-repeat;

 &:hover,
 &:active,
 &:focus {
  color: inherit;
  text-decoration: underline;
 }
}

.link-email {
 color: inherit;
 text-decoration: none;
 background: transparent url(../img/icons/OA_icon-email.svg) center left / 1.2rem no-repeat;

 &:hover,
 &:active,
 &:focus {
  color: inherit;
  text-decoration: underline;
 }
}

.link-recovery {
 color: $purple-30;
 text-decoration: none;

 &:hover,
 &:active,
 &:focus {
  color: $purple-30;
  text-decoration: underline;
 }
}
