/* brand colors */

$purple: #573d6b;
$purple-40:  #9a8ba7;
$purple-30:  #bbb1c4;
$purple-20:  #e7dcee;
$purple-10:  #f6f0f8;

$gold: #f0b300;
$gold-60: #f8d167;
$gold-10: #fdf0cc;

$black:   #000000;
$black-80:  #333333;

$white:   #FFFFFF;

$primary: $purple;
$secondary: $gold;
