@media screen and (min-width: $sm) {
  .w-sm-50 {
    width: 50%;
  }
}
@media screen and (min-width: $md) {
  .overlap-md-1 {
    margin-left: -8.33333333%;
  }
}

.on-top {
  position: relative;
  z-index: 1;
}

.img-contain {
  object-fit: contain;
}

.modal-dialog-scrollable form {
  overflow-y: auto;
}

.rotate {
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.error-icon,
.success-icon {
  position: relative;
  padding-right: 2em;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.4em;
    display: block;
    height: 1.2em;
    width: 1.2em;
    margin-top: -0.6em;
    background-color: $success;
    border-radius: 15%;
  }
}

.error-icon {
  &::after {
    background-color: $error;
  }
}

.font-14 {
  font-size: 0.875rem;
}
