body{
    overflow-y: auto !important;
}

.button-lateral-navbar {
    width: 57px;
    position: absolute;
    left: 5px;
}

.content {
    margin-left: 8% !important;
}

.form {
    border-radius: 0 20%;


}
.input-layout-wrapper{
    min-width: 149px;
}

@media only screen and (max-width:995.98px) {

    .main-sidebar,
    .main-sidebar::before {
        box-shadow: none !important;
        margin-left: -250px;
    }
}
.is-12{
    height: 24px;
}
.offcanvas-backdrop-custom .offcanvas-backdrop {
    background-color: #0000 !important;
}

.datepicker-wrapper {
    padding-left: 0px !important;
}

@media only screen and (max-width: 600px) {
    .datepicker-wrapper-date {
        max-width: 166px;
    }
}

.datepicker-wrapper-modal {
    padding-left: 0px !important;
    max-width: 166px;
}

@media only screen and (max-width: 600px) {
    .datepicker-wrapper-datemodal {
        max-width: 150px !important;
    }
}

.contnet-wrapper {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.icon-white {
    margin-left: 5px;
    color: white;
}
.icon-black {
    margin-left: 5px;
    color: black;
}
.menu-body {
    border-right: 1px solid;
    position: absolute;
    height: 100%;
    background-color: #222d32;
}

.link-menu {
    color: white !important;
}

.margin-link-nav {
    margin-left: 23px;
}

.button-menu {
    color: white;
    background-color: whitesmoke !important;
    margin-left: 12px;
    margin-right: 19px;
}

.secion-button-layout {

    position: absolute;
    background-color: #222d32;
    height: 123px;
    margin-top: 93px;
    margin-bottom: 0px !important;
    padding-bottom: 0px;
    width: 195px;
    padding-left: 0px;
    left: -5px !important;
}

.nav .navbar-social>a {
    padding: 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.navbar-height {
    max-width: 303px !important;
}

.button-lateral-navbar {
    width: 57px;
}

.navbar-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.centering-form {
    padding-left: 27%;
}

.text-color-title {
    --bs-text-opacity: 11;
    color: rgb(0 156 214) !important;
}

.ms-container {
    width: 75% !important;
}

.box-color {
    --bs-bg-opacity: 1;
    background-color: rgba(22, 175, 232, 255) !important;
}

.centering {

    top: 2%;
    margin-right: auto;
    margin-left: auto;
    z-index: 12
}

.layout-margin {
    height: 56px;
}

.position-button {
    padding-right: 33px;
    margin-right: 12px;
}

.carousel {
    width:500px;
    height:700px;
    
  }

  @media (max-width: 500px) {
    .carousel {
      width:auto;
      height:auto;
    }
}